@media  only screen and (min-width : 900px) {
  .custom-container {
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem .5rem .5rem .5rem;
    padding: .75rem 1.25rem;
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
    margin-bottom: 30px;
  }

  body {
  padding-top: 80px;
  }

}

.content-container {
  width: 60% !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem .5rem .5rem .5rem;
    padding: .75rem 1.25rem;
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
    margin-bottom: 30px;
}

.card-header-custom {
  display: flex;
  /*background-color: #e70009;*/
  /*border: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}

.opencritic-logo {
  margin-left: 5px;
  margin-right: 4px;
  width: 30%;
}

.card-img-overlay {
  position: absolute ;
  top: -10px !important;
  left: -10px !important;
  right: -10px !important;
  z-index: 1 !important;
}

.opencritic-container{
  margin-left:  none;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  width: 50px;
  background: rgba(0%, 0%, 0%, 0.5); 
}

.searchbox {
  width: 40%;
  border-radius: 5rem;
  padding: 10px;
  border: 1px solid #55597d;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
  margin:  10px;
  outline: none;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:none !important;
    -webkit-appearance:none;
}

::-webkit-input-placeholder {
	font-size: 15px;
	font-family: 'Font Awesome 5 Free', 'Cairo';
	color: #55597d ;
}

.dropdown-style{
  background-color: white !important;
  color: black !important;
  border: 1px solid #e5e5e5 !important;
  border-radius:  10px !important;
  padding: 12px !important;
  width: 100% !important;
     box-shadow: 0 2px 10px rgb(0 0 0 / 0.10);
}

.dropdown-item{
  font-size: 14px !important;
}

.btn {
  width: 100% !important;
}

.btn:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.10) !important;
}

.col-style {
  padding: 0 !important; 

}

.card-img{
  border-radius: 5px !important;
}

.card-title{
  font-size: 16px !important;
}

 .card-text{
  font-size:14px !important;
  /*font-weight: bold;*/
}

 .score-text{
  font-size:14px !important;
  color: white;
  font-weight: bold;
}


.nbadges {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-image: url('platform-icons18.webp');
  background-repeat: no-repeat;
  background-size: 30px;
  display: inline-block;
  flex: none;
}

.nbadges.nintendo {
  background-color: #e70009;
  background-position: 0px -510px;
}

@media screen and (max-width: 900px) {
  .custom-container {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem .5rem .5rem .5rem;
    padding: .75rem 1.25rem;
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
    margin-bottom: 30px;
  }


  body {
    padding-top: 60px !important;
  }

  .searchbox {
    width: 80%;
  }

  .card-title{
    font-size:1rem !important;
  }

  .card-text{
    font-size:10px !important;
  }

  .dropdown-style{
    font-size: 11px !important;
  }

  .dropdown-item{
  font-size: 11px !important;
  }

  .score-text{
  font-size:11px !important;
  }
}



